.logo {
    width: 400px;
    height: 130.4px;
    overflow: hidden;
    font-family: "Arial";
  }
  .logo .symbol {
    width: 86.9332464px;
    height: 86.9332464px;
    background-color: #000;
    border-radius: 17.386232px;
    position: relative;
    float: left;
    margin-right: 21.732464px;
  }
  .logo .symbol:before {
    display: block;
    content: "";
    background-color: #fff;
    position: absolute;
    left: 8.6932464px;
    top: 8.6932464px;
    right: 8.6932464px;
    bottom: 8.6932464px;
    border-radius: 10.8666232px;
    border-top-left-radius: 100%;
  }
  .logo .symbol:after {
    color: #fff;
    content: "★";
    display: block;
    font-size: 17.386232px;
    left: 6.52px;
    top: 6.52px;
    position: absolute;
  }
  .logo .nome {
    font-size: 89.906888px;
    float: left;
    line-height: 105%;
  }
  .logo .slogan {
    font-size: 30.4266232px;
    float: right;
    padding-right: 6.862952px;
  }
  .wrapper {
    width: 400px;
    height: 130.4px;
    margin-left: -200px;
    margin-top: -65.2px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  